.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App > * {
  flex: 1 1 auto;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: app-logo-spin infinite 20s linear;
}

.App-link {
  color: #61dafb;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.img-container img {
  width: 200px;
  object-fit: cover;
  flex: 1 1 33.33%;
}
